@use 'variables' as *;
@use 'reset';
@use 'fonts' as *;

body {
  // width: 100vw;
  // height: 100vh;
  background-color: $background;
  color: $color-text;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-size: inherit;
  font-family: inherit;
}
